/* #511f52 
bab0d4 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #511f52;
}
.navigation{
    margin-top: 50px;
     
 }
.breadcrumb{
    background-color: #bab0d4;
    font-weight: 600;
    height: 25px;
}
.breadcrumb a{
    color: #511f52;
}
.container{
    margin-top: 50px;
}
.breadcrumb li:not(:first-child)::before {
    color: #511f52;
}
.button{
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     
      
  }
.card{
    border: 2px  #511f52;

 
   margin-top: 20px;
    margin-bottom: 90px;
    padding: 2px; 
}
.card-body .card-img-top{
    height: 300px;
    width: 250px;
    border-radius: 5%;
    border: 2px solid #511f52;
}

.col-sm-12{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.wish {
    background: transparent;
  }
  .footer{
    background-color: #511f52;
}
.footer h2{
    margin-top: 20px;
    color: #bab0d4;
}
h3{
    color: #bab0d4;
}
.footer a{
    color: white;
}