/* 
#132a1a 
#a3ba9c*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #132a1a;
}
.navigation{
    margin-top: 50px;
     
 }
.breadcrumb{
    background-color: #a3ba9c;
    font-weight: 600;
    height: 25px;
}
.breadcrumb a{
    color: #132a1a;
}
.breadcrumb li:not(:first-child)::before {
    color: #132a1a;
}
.container{
    margin-top: 50px;
}
.card{
    border: 2px  #132a1a;

 
   margin-top: 20px;
    margin-bottom: 90px;
    padding: 2px; 
}
.card-body .card-img-top{
    height: 300px;
    width: 350px;
    border-radius: 5%;
    border: 2px solid #132a1a;
}

.vr{
 
        border-left: 6px solid #132a1a;
        height: 500px;
        position: absolute;
       
      
}
.button{
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     color: #132a1a;
      
  }
.productDescription{
    background-color: #a3ba9c;
    border: 2px solid #132a1a;
    width: 100%;
    height: auto;
margin-left: 20px;
padding: 20px;
margin-bottom: 20px;

}
.productDescription h3{
    color: #132a1a;
}
table td,tr,caption,ul{
  margin-left: 0;
  font-size: 15px;
  padding: 5px;
  
}
.split{
    display: flex;
flex-direction: row;
justify-content: space-around;
}
summary{
    color: #132a1a;
    display: flex;
   
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    
}
.paragraph{
    font-size: 15px;
    margin-top: 10px;
   
}
.dropdown-menu{
    padding: 20px;
    margin: 20px;
}
.flexSort{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #132a1a;
   

}
.btn{
    background: transparent;
    color: #132a1a;
    font-weight: 700;
    
}
.textBrand{
    font-size: 15px;
}
.selectSize{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
::placeholder{
    color: #132a1a;
}
.footer{
    background-color: #132a1a ;
}
.footer h2{
    margin-top: 20px;
    color: #a3ba9c;
}
h3{
    color: #a3ba9c;
}
.footer a{
    color: white;
}
.col-sm-12{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}