*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
     background-image: linear-gradient(#e6d6e0,#dacadb); 
    min-height: 100vh;
}
.container-fluid{
    overflow: hidden;
    position: relative;
    
}
.img{
    opacity: 0.5;
    position: absolute;
 width: 100%;
    height: auto; 
   
    
}
.textStyle{
    font-size: 3rem;
    color: #511f52;
    font-weight: 600;
}
.textStyleLabel{
    color: rgb(73, 69, 69);
    font-weight: 900;
}
.inputText{
    font-size: 20px;
}
.flex{
    position: relative;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
    height: 100vh;
}
.flex form{
    border: 2px dashed #511f52;
    padding: 20px;
}
.button{
   
    background-color: #511f52;
    color: #b297f7;
    padding: 5px;
    
}
.btnLogin a{
    background-color: #511f52;
    color: #b297f7;
    font-size: 15px;
    
}
.btnLogin{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-text{
    font-size: 15px;
    font-weight: 500;
}
