/* 
#132a1a 
#a3ba9c*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #132a1a;
}
.navigation{
    margin-top: 50px;
     
 }
.breadcrumb{
    background-color: #a3ba9c;
    font-weight: 600;
    height: 25px;
}
.breadcrumb a{
    color: #132a1a;
}
.container{
    margin-top: 50px;
}
.breadcrumb li:not(:first-child)::before {
    color: #132a1a;
}
.button{
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     
      
  }
.card{
    border: 2px  #132a1a;

 
   margin-top: 20px;
    margin-bottom: 90px;
    padding: 2px; 
}
.card-body .card-img-top{
    height: 300px;
    width: 250px;
    border-radius: 5%;
}


.wish {
    background: transparent;
  }
  .footer{
    background-color: #132a1a ;
}
.footer h2{
    margin-top: 20px;
    color: #a3ba9c;
}
h3{
    color: #a3ba9c;
}
.footer a{
    color: white;
}
.col-sm-12{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}